@model ITHub.Models.AppliedJobs

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AppliedJobs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jobAppliedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jobAppliedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jobs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jobs.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CvDatas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CvDatas.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
